<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
	<meta charset="UTF-8">
	<meta name="language" content="en">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


	<title>FedEx - Logistics Company</title>

	<script src="https://use.fontawesome.com/6e42fc46b0.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	{% comment %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> {% endcomment %}
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/mobile.css' %}">
	<link rel="stylesheet" href="{% static 'css/customerdashboard.css' %}">

</head>

<body>

	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-white custom-nav">
			<i class="fa fa-bars mobile-menu"></i>
			<a class="navbar-brand" href="#">FedEx</a>
			<form class="form-inline search-form">
				<i class="fa fa-search"></i>
				<input class="form-control " type="search" placeholder="Search...">
			</form>
			<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
				<li class="drop">
					<a class="nav-link bell-icon-badge" href="#">
						<i class="fa fa-bell-o" aria-hidden="true"></i>
						<span class="bell-badge">10</span>
					</a>

					<ul class="drop-menu">
						<li><a href="#">Art</a></li>
						<li><a href="">Coding</a></li>
						<li><a href="">Design</a></li>
						<li><a href="">Web Development</a></li>
					</ul>
				</li>

				<li class="nav-item">
					<a class="nav-link user-prfile" href="#">
						<img src="{% static 'img/user1.jpg' %}" alt="">
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'customlogout' %}">
						Logout
					</a>
				</li>
			</ul>
		</nav>
	</header>

	<div class="container-fluid">
		<div class="row">
			<aside class="col-md-2" id="sidebar">
				<ul class="sidebar-menu">
					<li>
						<a href="/customerdashboard/" class="active"> <i class="fa fa-dashboard"></i> Dashboard</a>
					</li>

				</ul>
			</aside>

			<main class="col-md-10" id="main">

				<section class="spacethis">

					<div clas="row">
						<div clas="col-md-6">
							<h3 class="title">Driver Details
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

								<a href="/driver_create/" class="btn btn-success" style="text-align:right">Add New</a>
							</h3>

						</div>

					</div>
					<div class="row">
						<div class="col-md-12">


							<div class="md-card" style="box-shadow:10px 10px 10px rgba(0,0,0,0.5)">
								<table class="table table-hover no-border">
									<thead>
										<tr>
											<th scope="col">SL No.</th>
											<th scope="col">Name</th>
											<th scope="col">Email</th>
											<th scope="col">Phone No.</th>
											<th scope="col">License</th>

										</tr>
									</thead>
									<tbody>
										{% for i in data %}
										<tr>
											<td>{{ forloop.counter }}</td>
											<td>

												{{ i.first_name }} {{ i.last_name }}
											</td>
											<td>{{ i.email}}</td>

											<td>{{i.phone_number}}</td>
											<td>{{i.license_number}}</td>



										</tr>
										{% endfor %}





									</tbody>
								</table>
							</div>

						</div>

					</div>
				</section>


			</main>
		</div>
	</div>

	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/controller.js' %}"></script>
	<script> $('.drop').click(function () {
			$(this).toggleClass('open').siblings().removeClass('open');
		})



		$('.drop-menu li').each(function () {
			var delay = $(this).index() * 100 + 'ms';

			$(this).css({
				'-webkit-transition-delay': delay,
				'-moz-transition-delay': delay,
				'-o-transition-delay': delay,
				'transition-delay': delay
			});
		});



		$('.read-reviews-btn').click(function () {
			$('.read-reviews').slideDown();
		});


		$('.close-reviews').click(function () {
			$('.read-reviews').slideUp();
		});

		$('.mobile-menu ').click(function () {
			$('#sidebar').slideToggle();
		});

		$('.search-form .fa-search').click(function () {
			$('.search-form .form-control').slideToggle();
		});</script>
</body>

</html>