<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
	<meta charset="UTF-8">
	<meta name="language" content="en">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>FedEx - Logistics Company</title>

	<script src="https://use.fontawesome.com/6e42fc46b0.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/mobile.css' %}">
	<link rel="stylesheet" href="{% static 'css/customerdashboard.css' %}">
</head>
<body>
<header>
	<nav class="navbar navbar-expand-lg navbar-light bg-white custom-nav">
		<i class="fa fa-bars mobile-menu"></i>
		<a class="navbar-brand" href="#">FedEx</a>
		<form class="form-inline search-form">
			<i class="fa fa-search"></i>
			<input class="form-control" type="search" placeholder="Search..." >
		</form>
		<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
			<li class="drop">
				<a class="nav-link bell-icon-badge" href="#">
					<i class="fa fa-bell-o" aria-hidden="true"></i>
					<span class="bell-badge">10</span>
				</a>
				<ul class="drop-menu">
					<li><a href="#">Art</a></li>
					<li><a href="">Coding</a></li>
					<li><a href="">Design</a></li>
					<li><a href="">Web Development</a></li>
				</ul>
			</li>
			<li class="nav-item">
				<a class="nav-link user-prfile" href="#">
					<img src="{% static 'img/user1.jpg' %}" alt="">
				</a>
			</li>
		</ul>
	</nav>
</header>

<div class="container-fluid">
	<div class="row">
		<aside class="col-md-2" id="sidebar">
			<ul class="sidebar-menu">
				<li>
					<a href="" class="active"> <i class="fa fa-dashboard"></i> Dashboard</a>
				</li>
				<li>
					<a href="{% url 'customlogout' %}"> <i class="fa fa-sign-out"></i> Logout</a>
				</li>
				<li>
					<a href="/vehicle_index/"> <i class="fa fa-car" aria-hidden="true"></i>Vehicles Management</a>
				</li>
				<li>
					<a href="/driver_index/"> <i class="fa fa-id-card-o" aria-hidden="true"></i>Driver Details</a>
				</li>
				<li>
					<a href="/consignment_index/"> <i class="fa fa-list" aria-hidden="true"></i>Consignments</a>
				</li>
			</ul>
		</aside>

		<main class="col-md-10" id="main">
			<section class="spacethis">
				<h3 class="title">Overview</h3>
				<div class="row mobile-scrollable">
					<div class="col-md-3">
						<div class="dash-card" style="box-shadow:10px 10px 10px rgba(0,0,0,0.5)">
							<i class="fa fa-id-card-o"></i>
							<p>Available Drivers</p>
							<h1 class="text-success">{{ driver_count }}</h1>
							<a href="/driver_index/"><button type="button" class="btn btn-theme">Know More</button></a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="dash-card" style="box-shadow:10px 10px 10px rgba(0,0,0,0.5)">
							<i class="fa fa-car" aria-hidden="true"></i>
							<p>Available Vehicles</p>
							<h1 class="text-danger">{{ vehicle_count }}</h1>
							<a href="/vehicle_index/"><button type="button" class="btn btn-theme">Know More</button></a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="dash-card" style="box-shadow:10px 10px 10px rgba(0,0,0,0.5)">
							<i class="fa fa-history" aria-hidden="true"></i>
							<p>Ongoing Consignments</p>
							<h1 class="text-warning">{{ ongoing_consignment_count }}</h1>
							<a href="/consignment_index/"><button type="button" class="btn btn-theme">Know More</button></a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="dash-card" style="box-shadow:10px 10px 10px rgba(0,0,0,0.5)">
							<i class="fa fa-check" aria-hidden="true"></i>
							<p>Delivered Orders</p>
							<h1 class="text-success">{{ approved_consignment_count }}</h1>
							<a href="/consignment_index/"><button type="button" class="btn btn-theme">Know More</button></a>
						</div>
					</div>
				</div>

				<!-- 🚀 Track Shipment Button -->
				<div class="row mt-5">
					<div class="col-md-12 text-center">
						<a href="{% url 'map-form' %}" class="btn btn-primary btn-lg" style="box-shadow: 5px 5px 15px rgba(0,0,0,0.3); border-radius: 8px;">
							🌍 Track Shipment on Map
						</a>
					</div>
				</div>
			</section>
		</main>
	</div>
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/controller.js' %}"></script>
<script>
	$('.drop').click(function () {
		$(this).toggleClass('open').siblings().removeClass('open');
	});
	$('.drop-menu li').each(function () {
		var delay = $(this).index() * 100 + 'ms';
		$(this).css({
			'-webkit-transition-delay': delay,
			'-moz-transition-delay': delay,
			'-o-transition-delay': delay,
			'transition-delay': delay
		});
	});
	$('.read-reviews-btn').click(function () {
		$('.read-reviews').slideDown();
	});
	$('.close-reviews').click(function () {
		$('.read-reviews').slideUp();
	});
	$('.mobile-menu ').click(function () {
		$('#sidebar').slideToggle();
	});
	$('.search-form .fa-search').click(function () {
		$('.search-form .form-control').slideToggle();
	});
</script>
</body>
</html>
